In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('insurance_pre.csv')

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [9]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [11]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [13]:
dependent = dataset[['charges']]

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

# Corrected param_grid
param_grid = {
    'n_estimators': [10, 50, 100, 200],  # Number of trees in the forest
    'criterion': ['squared_error', 'absolute_error', 'friedman_mse', 'poisson'],  # Valid criteria for regression
    'max_features': ['sqrt', 'log2', None],  # Number of features considered for split
    'max_depth': [None, 10, 20, 30],  # Maximum depth of trees
    'min_samples_split': [2, 5, 10],  # Minimum samples required to split a node
    'min_samples_leaf': [1, 2, 4],  # Minimum samples required in a leaf node
    'bootstrap': [True, False],  # Whether to bootstrap samples
}

# Perform grid search
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose=3, n_jobs=-1)
grid.fit(independent, dependent)

# Display results
print("Best Parameters:", grid.best_params_)
print("Best Score:", grid.best_score_)

Fitting 5 folds for each of 3456 candidates, totalling 17280 fits

C:\Anoconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Best Parameters: {'bootstrap': True, 'criterion': 'absolute_error', 'max_depth': 30, 'max_features': None, 'min_samples_leaf': 4, 'min_samples_split': 5, 'n_estimators': 100}
Best Score: 0.8553248511161773

In [17]:
result = grid.cv_results_

In [19]:
table = pd.DataFrame.from_dict(result)

In [21]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_bootstrap,param_criterion,param_max_depth,param_max_features,param_min_samples_leaf,param_min_samples_split,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.037938,0.001973,0.005401,0.000928,True,squared_error,None,sqrt,1,2,10,"{'bootstrap': True, 'criterion': 'squared_erro...",0.851664,0.772476,0.848895,0.803988,0.826960,0.820797,0.029657,2798
1,0.170345,0.002669,0.009010,0.000635,True,squared_error,None,sqrt,1,2,50,"{'bootstrap': True, 'criterion': 'squared_erro...",0.859625,0.775320,0.864345,0.828071,0.834912,0.832454,0.031764,2481
2,0.323022,0.010707,0.014821,0.000681,True,squared_error,None,sqrt,1,2,100,"{'bootstrap': True, 'criterion': 'squared_erro...",0.858703,0.779127,0.863772,0.830320,0.838611,0.834107,0.030141,2322
3,0.631368,0.015581,0.026111,0.002141,True,squared_error,None,sqrt,1,2,200,"{'bootstrap': True, 'criterion': 'squared_erro...",0.854295,0.782800,0.865398,0.830532,0.842755,0.835156,0.028640,2217
4,0.031080,0.001810,0.004354,0.000486,True,squared_error,None,sqrt,1,5,10,"{'bootstrap': True, 'criterion': 'squared_erro...",0.849322,0.770811,0.852851,0.824870,0.830623,0.825696,0.029438,2743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451,0.921493,0.010948,0.018443,0.002520,False,poisson,30,None,4,5,200,"{'bootstrap': False, 'criterion': 'poisson', '...",0.841169,0.741128,0.851032,0.806967,0.822497,0.812559,0.038810,2896
3452,0.054836,0.006797,0.005213,0.000978,False,poisson,30,None,4,10,10,"{'bootstrap': False, 'criterion': 'poisson', '...",0.849273,0.743384,0.855205,0.807202,0.822740,0.815561,0.040097,2852
3453,0.231085,0.005485,0.008364,0.000697,False,poisson,30,None,4,10,50,"{'bootstrap': False, 'criterion': 'poisson', '...",0.849273,0.743384,0.855646,0.807202,0.822740,0.815649,0.040185,2847
3454,0.440382,0.010465,0.011817,0.000449,False,poisson,30,None,4,10,100,"{'bootstrap': False, 'criterion': 'poisson', '...",0.849273,0.743384,0.855668,0.807202,0.822740,0.815653,0.040189,2845
3455,0.740549,0.045384,0.013200,0.002041,False,poisson,30,None,4,10,200,"{'bootstrap': False, 'criterion': 'poisson', '...",0.849273,0.743384,0.855690,0.807202,0.822740,0.815658,0.040194,2843